<div class="card-footer clearfix">

    <div class="row">
        <div class="col-sm-5">
            <div class="dataTables_info" id="datatable_info" role="status" aria-live="polite">Showing {{ from }}
                to {{ to }} of {{ count }}
                entries
            </div>
        </div>
        <div class="col-sm-7">
            <ul class="pagination pagination-sm m-0 float-right">


                <li class="page-item{% if page <= 1 %} disabled{% endif %}">
                    <a class="page-link"
                       href="{% if page <= 1 %}#{% else %}{{ path( app.request.attributes.get('_route') , {'page': page - 1 }|merge(app.request.query.all)) }}{% endif %}">«</a>
                </li>
                <li class="page-item{% if page == 1 %} active2{% endif %}">
                    <a class="page-link"
                       href="{{ path( app.request.attributes.get('_route') , {'page': 1 }|merge(app.request.query.all) ) }}">&vartriangleleft;</a>
                </li>

                {% for i in pf..pl %}
                    <li class="page-item{% if page == i %} active{% endif %}">
                        <a class="page-link"
                           href="{{ path( app.request.attributes.get('_route') , {'page': i }|merge(app.request.query.all)) }}">{{ i }}</a>
                    </li>
                {% endfor %}
                <li class="page-item{% if page == max %} active2{% endif %}">
                    <a class="page-link"
                       href="{{ path( app.request.attributes.get('_route') , {'page': max }|merge(app.request.query.all)) }}">&vartriangleright;</a>
                </li>
                <li class="page-item{% if page >= max %} disabled{% endif %}">
                    <a class="page-link"
                       href="{% if page >= max %}#{% else %}{{ path( app.request.attributes.get('_route') , {'page': page + 1 }|merge(app.request.query.all)) }}{% endif %}">»</a>
                </li>
            </ul>

        </div>
    </div>


</div>